<p-toast></p-toast>

<div class="card">
  <p-toolbar>
    <ng-template pTemplate="left">
      <div class="grid">
        <div class="col-fixed">
          <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success" (click)="openNew()"></button>
        </div>
        <div class="col-fixed">
          <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger"
            (click)="deleteSelectedOrder()" [disabled]="!selectedOrders || !selectedOrders.length"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="right">
      <div class="col-fixed">
        <button pButton pRipple label="Atualizar Tabela" icon="pi pi-undo" class="p-button-info"
          (click)="list()"></button>
      </div>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="orders" [rows]="10" [paginator]="true" [style]="{'margin-top':'20px'}"
    [globalFilterFields]="['userName','number']" responsiveLayout="stack" [(selection)]="selectedOrders"
    [rowHover]="true" dataKey="guid" [showCurrentPageReport]="false" [loading]="loading">
    <ng-template pTemplate="caption">
      <div class="grid">
        <div class="col">
          <p class="title">Gerenciar Pedidos</p>
        </div>
        <div class="col-fixed">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" [(ngModel)]="filter" (input)="dt.filterGlobal(filter, 'contains')"
              placeholder="Pesquisar..." />
          </span>
          <button pButton pRipple type="button" icon="pi pi-times" class="p-button-danger p-button-outlined"
            pTooltip="Limpar Filtro" tooltipPosition="top" (click)="clean(dt)"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 2%">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="orderDate" style="width: 15%">Data do Pedido<p-sortIcon field="orderDate"></p-sortIcon>
        </th>
        <th pSortableColumn="number" style="width: 15%">Idetificação do Pedido<p-sortIcon field="number"></p-sortIcon>
        </th>
        <th pSortableColumn="userName" style="width: 15%">Autor do Pedido<p-sortIcon field="userName"></p-sortIcon>
        </th>
        <th pSortableColumn="status" style="width: 15%">Status<p-sortIcon field="status"></p-sortIcon>
        </th>
        <th style="width: 15%">Em Estoque</th>
        <th style="width: 15%">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>
          <p-tableCheckbox [value]="order"></p-tableCheckbox>
        </td>
        <td>{{order.orderDate | date:'dd/MM/yyyy' }}</td>
        <td>{{order.number}}</td>
        <td>{{order.userName}}</td>
        <td>{{order.status == 'NEW' ? 'NOVO' : order.status == 'PRODUCTION' ? 'EM PRODUÇÃO' : order.status == 'FINISHED'
          ? 'FINALIZADO' : 'ENVIADO'}}</td>
        <td>
          <i class="pi pi-times" style="font-size: 2rem; color: red;" *ngIf="!order.hasStock && order.status != 'SENT' && order.status != 'FINISHED'"></i>
          <i class="pi pi-check" style="font-size: 2rem; color: green;" *ngIf="order.hasStock || order.status == 'SENT' || order.status == 'FINISHED'"></i>
        </td>
        <td>
          <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info" style="margin-left: 5px"
            (click)="navigate(order.guid, order.status, order.number)" pTooltip="Ver Detalhes" tooltipPosition="top"></button>
          <button *ngIf="order.status == 'NEW'" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            style="margin-left: 5px" (click)="editOrder(order)" pTooltip="Editar Pedido" tooltipPosition="top"></button>
          <button pButton pRipple icon="pi pi-angle-double-right" class="p-button-rounded p-button-warning"
            [disabled]="order.status == 'SENT' || (!order.hasStock && order.status != 'FINISHED')" style="margin-left: 5px" (click)="saveOrderStatusNext(order)"
            pTooltip="Avançar Status do Pedido" tooltipPosition="top"></button>
          <button pButton pRipple icon="pi pi-angle-double-left" class="p-button-rounded p-button-help"
            [disabled]="order.status == 'NEW'" style="margin-left: 5px" (click)="saveOrderStatusBack(order)"
            pTooltip="Voltar Status do Pedido" tooltipPosition="top"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" style="margin-left: 5px"
            (click)="deleteOrder(order)" pTooltip="Excluir Pedido" tooltipPosition="top"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        {{orders ? orders.length == 1 ? orders.length + ' Pedido no total.' : orders.length + ' Pedidos no total.' : 0 +
        '
        Pedidos no total.'}}
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="orderDialog" [style]="{width: '50vw'}" header="Dados do Pedido" [modal]="true"
  (onHide)="hideDialog()" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="content">
      <div class="grid">
        <div class="col-12">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="order.number" maxlength="100" required autofocus />
            <label for="name">Número do Pedido*</label>
          </span>
          <small class="p-error" *ngIf="!order.number">Este campo é obrigatório.</small>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="saveOrder()"
      *ngIf="!order.guid" [disabled]="!order.number ? true : false"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="saveOrder()"
      *ngIf="order.guid" [disabled]="!order.number ? true : false"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog #cd [style]="{width: '600px'}">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()" class="p-button-danger"></button>
    <button id="acceptButton" type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"
      class="p-button-success"></button>
  </ng-template>
</p-confirmDialog>
