<p-toast></p-toast>

<div class="card">
  <p-toolbar>
    <ng-template pTemplate="left">
      <div class="grid">
        <div class="col-fixed">
          <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success" (click)="openNew()"></button>
        </div>
        <div class="col-fixed">
          <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger"
            (click)="deleteSelectedStock()" [disabled]="!selectedStocks || !selectedStocks.length"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="right">
      <div class="col-fixed">
        <button pButton pRipple label="Atualizar Tabela" icon="pi pi-undo" class="p-button-info"
          (click)="list()"></button>
      </div>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="stocks" [rows]="10" [paginator]="true" [style]="{'margin-top':'20px'}"
    [globalFilterFields]="['productName','productCode','quantity','weight']" responsiveLayout="stack"
    [(selection)]="selectedStocks" [rowHover]="true" dataKey="guid" [showCurrentPageReport]="false" [loading]="loading">
    <ng-template pTemplate="caption">
      <div class="grid">
        <div class="col">
          <p class="title">Gerenciar Estoques</p>
        </div>
        <div class="col-fixed">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" [(ngModel)]="filter" (input)="dt.filterGlobal(filter, 'contains')"
              placeholder="Pesquisar..." />
          </span>
          <button pButton pRipple type="button" icon="pi pi-times" class="p-button-danger p-button-outlined"
            pTooltip="Limpar Filtro" tooltipPosition="top" (click)="clean(dt)"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 2%">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="productName">Produto<p-sortIcon field="productName"></p-sortIcon>
        </th>
        <th pSortableColumn="productCode">Código do Produto<p-sortIcon field="productCode"></p-sortIcon>
        </th>
        <th pSortableColumn="stockType">Tipo do Estoque<p-sortIcon field="stockType"></p-sortIcon>
        </th>
        <th>Disponibilidade em Estoque</th>
        <th pSortableColumn="aisle">Corredor<p-sortIcon field="aisle"></p-sortIcon></th>
        <th pSortableColumn="shelf">Prateleira<p-sortIcon field="shelf"></p-sortIcon></th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stock>
      <tr>
        <td>
          <p-tableCheckbox [value]="stock"></p-tableCheckbox>
        </td>
        <td>{{stock.productName}}</td>
        <td>{{stock.productCode}}</td>
        <td>{{stock.stockType == 'UNIT' ? 'UNIDADE' : 'PESO'}}</td>
        <td>{{stock.stockType == 'UNIT' ? stock.quantityAvailable == 1 ? '1 Unidade' : stock.quantityAvailable + '
          Unidades' : stock.weightAvailable == 1.000 ? '1 Kilo' : stock.weightAvailable?.toString().replace('.', ',') +
          ' Kilos'}}</td>
          <td>{{stock.aisle}}</td>
          <td>{{stock.shelf}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            style="margin-left: 5px" (click)="editStock(stock)" pTooltip="Editar Estoque"
            tooltipPosition="top"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" style="margin-left: 5px"
            (click)="deleteStock(stock)" pTooltip="Excluir Estoque" tooltipPosition="top"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        {{stocks ? stocks.length == 1 ? stocks.length + ' Estoque no total.' : stocks.length + ' Estoques no total.' : 0
        + '
        Estoques no total.'}}
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="stockDialog" [style]="{width: '50vw'}" header="Dados do Estoque" [modal]="true"
  (onHide)="hideDialog()" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="content">
      <div class="grid">
        <div class="col-6" *ngIf="!stock.guid">
          <span class="p-float-label">
            <p-dropdown [options]="options" [(ngModel)]="stock.productGuid" [autoDisplayFirst]="true"
              appendTo="body"></p-dropdown>
            <label for="name">Produto*</label>
          </span>
          <small class="p-error" *ngIf="!stock.productGuid">Este campo é obrigatório.</small>
        </div>
        <div class="col-4" *ngIf="findProduct() == 'UNIT'">
          <span class="p-float-label">
            <p-inputNumber [(ngModel)]="stock.quantityAvailable" [min]="0" [max]="99999" [mode]="'decimal'" [step]="1"
              [showButtons]="true"></p-inputNumber>
            <label for="email">Quantidade em Estoque (Unidades)*</label>
          </span>
          <small class="p-error" *ngIf="!stock.quantityAvailable">Este campo é obrigatório.</small>
        </div>
        <div class="col-4" *ngIf="findProduct() == 'WEIGHT'">
          <span class="p-float-label">
            <p-inputNumber [(ngModel)]="stock.weightAvailable" [min]="0" [max]="999999.999" [maxFractionDigits]="3"
              [step]="0.01" [showButtons]="true"></p-inputNumber>
            <label for="email">Peso em Estoque (Kilos)*</label>
          </span>
          <small class="p-error" *ngIf="!stock.weightAvailable">Este campo é obrigatório.</small>
        </div>
      </div>
      <div class="grid">
        <div class="col-6">
          <span class="p-float-label">
            <input pInputText [(ngModel)]="stock.aisle"/>
            <label for="aisle">Corredor</label>
          </span>
          <small class="p-error" *ngIf="!stock.aisle">Este campo é obrigatório.</small>
        </div>
        <div class="col-6">
          <span class="p-float-label">
            <input pInputText [(ngModel)]="stock.shelf" />
            <label for="shelf">Prateleira</label>
          </span>
          <small class="p-error" *ngIf="!stock.shelf">Este campo é obrigatório.</small>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="saveStock()"
      *ngIf="!stock.guid"
      [disabled]="(stock.stockType == 'UNIT' && stock.quantityAvailable == 0) || (stock.stockType == 'WEIGHT' && stock.weightAvailable == 0.000) ? true : false"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="saveStock()"
      *ngIf="stock.guid"
      [disabled]="(stock.stockType == 'UNIT' && stock.quantityAvailable == 0) || (stock.stockType == 'WEIGHT' && stock.weightAvailable == 0.000) ? true : false"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog #cd [style]="{width: '600px'}">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()" class="p-button-danger"></button>
    <button id="acceptButton" type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"
      class="p-button-success"></button>
  </ng-template>
</p-confirmDialog>
